# Unit 10. 리스트와 튜플

In [1]:
a = [38, 21, 53, 62, 19]
a

[38, 21, 53, 62, 19]

In [2]:
person = ['james', 17, 175.3, True]
person

['james', 17, 175.3, True]

In [1]:
range(10)

range(0, 10)

In [3]:
b = list(range(5, 12))
b

[5, 6, 7, 8, 9, 10, 11]

In [4]:
c = list(range(-4, 10, 2))
c

[-4, -2, 0, 2, 4, 6, 8]

In [6]:
d = list(range(10, 0, -1))
d

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [7]:
# tuple
a = (38, 21, 53, 62, 19)
a

(38, 21, 53, 62, 19)

In [8]:
b = 23, 5, 32
b

(23, 5, 32)

In [9]:
person = ('james', 17, 175.3, True)
person

('james', 17, 175.3, True)

In [10]:
person = 3
person

3

In [11]:
# 한개의 엘리먼트를 갖는 튜플
(38)

38

In [12]:
(38,)

(38,)

In [13]:
a = tuple(range(10))
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [14]:
b = tuple(range(1,10))
b

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [16]:
c = tuple(range(1, 10, 2))
c

(1, 3, 5, 7, 9)

In [17]:
d = tuple(range(10, 0, -1))
d

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [19]:
#lsit <--> tuple
tuple_a = tuple([1,2,3])
tuple_a

(1, 2, 3)

In [20]:
list_a = list((1, 2, 3))
list_a

[1, 2, 3]

In [21]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [22]:
tuple('안녕하세요')

('안', '녕', '하', '세', '요')

In [23]:
a, b, c = [1, 2, 3]
print(a, b, c)

1 2 3

In [24]:
d, e, f = (4, 5, 6)
print(d, e, f)

4 5 6

In [25]:
x, y, z = 7, 8, 9
print(x, y, z)

7 8 9

In [26]:
# swaping
x = 10
y = 20
x, y = y, x
print(x, y)

20 10

In [1]:
# 입력과 연계
x = input()

10

In [2]:
print(x, int(10))

10 10

In [3]:
x = input().split()

10 20 30

In [4]:
x

['10', '20', '30']

In [7]:
a, b, c = map(int, ['10', '20', '30'])
print(a, b, c)

10 20 30

In [8]:
a, b, c = map(int, input('숫자 3개 입력>').split())

숫자 3개 입력>10 20 30

In [9]:
print(a, b, c)

10 20 30

In [10]:
[int(i) for i in input('숫자 3개 입력> ').split()]

숫자 3개 입력> 10 20 30

[10, 20, 30]

In [14]:
tuple(range(-10, 10, 3))

(-10, -7, -4, -1, 2, 5, 8)

In [24]:
tuple(range(-10, 10, input('a')))
a = int(2)

a2

TypeError: 'str' object cannot be interpreted as an integer