# Unit. 22 리스트와 튜플 응용하기

## 리스트 조작

In [2]:
a = [10, 20, 30]
a.append(500)
a

[10, 20, 30, 500]

In [3]:
a.append([3, 4])
a

[10, 20, 30, 500, [3, 4]]

In [8]:
# 3*6 list에 1~6 랜덤값 채우기
import random as rd
mat = []
for i in range(3):  #행의 갯수
    row = []
    for k in range(6):    #열의 갯수
        row.append(rd.randint(1,6))
    mat.append(row)

In [12]:
def print_matrix(mat):
    for row in mat:
        for element in row:
            print(element, end=' ')
        print()

In [13]:
print_matrix(mat)

4 5 1 1 1 6
2 6 4 2 6 6
2 3 3 4 1 5

In [14]:
# old-fashioned
def old_print_matrix(mat):
    for i in range(len(mat)):
        for k in range(len(mat[0])):
            print(mat[i][k], end=' ')
        print()

In [15]:
old_print_matrix(mat)

4 5 1 1 1 6
2 6 4 2 6 6
2 3 3 4 1 5

In [17]:
# 리스트 엘리먼트 삭제
a.pop()

[3, 4]

In [18]:
a

[10, 20, 30, 500]

In [19]:
a.index(30)

2

In [20]:
a.append(20)
a

[10, 20, 30, 500, 20]

In [21]:
a.count(20)

2

In [22]:
a.reverse()

In [23]:
a

[20, 500, 30, 20, 10]

In [25]:
a.sort()
a

[10, 20, 20, 30, 500]

In [26]:
a.sort(reverse=True)
a

[500, 30, 20, 20, 10]

In [27]:
a=[10, 20, 30, 15, 20, 40]
a.sort()
a

[10, 15, 20, 20, 30, 40]

In [46]:
b=[10, 20, 30, 15, 20, 40]
sorted(b)

[10, 15, 20, 20, 30, 40]

In [47]:
b

[10, 20, 30, 15, 20, 40]

In [48]:
a = [10, 20, 30]
a[3] = 40

IndexError: list assignment index out of range

In [49]:
a[3:] = [40]
a

[10, 20, 30, 40]

In [50]:
a[4:] = [50,]
a

[10, 20, 30, 40, 50]

## 리스트 할당과 복사

In [62]:
a = [0, 0, 0, 0, 0]
b = a

In [63]:
b

[0, 0, 0, 0, 0]

In [64]:
b[2] =2
b

[0, 0, 2, 0, 0]

In [65]:
a

[0, 0, 2, 0, 0]

In [66]:
a is b

True

In [67]:
a = [0, 0, 0, 0, 0]
b= a.copy()
b[2] = 2
a

[0, 0, 0, 0, 0]

In [68]:
a is b

False

## 반복문으로 출력하기

In [69]:
a = [10, 20, 30, 40]
for index, value in enumerate(a):
    print(index, value)

0 10
1 20
2 30
3 40

## 유용한 함수

In [1]:
# 가장 작은/큰 수는?
a = [10, 20, 30, 40, 5]
small = a[0]
large = a[0]
for i in range(1, len(a)):
    if a[i] < small:
        small = a[i]
    if a[i] > large:
        large = a[i]
print(small, large)

5 40

In [71]:
a.sort()
print(a[0], a[-1])

5 40

In [2]:
a = [38, 21, 53, 62, 19]
min(a)

19

In [3]:
print(max(a), sum(a))

62 193

## 리스트 표현식(List Comprehension)

In [81]:
# 1에서 10까지 제곱수를 리스트로 만드시오
sq = []
for i in range(1, 11):
    sq.append(i*i)
sq

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
sq_new = [i*i for i in range(1,11)]
sq_new

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [80]:
# 홀수
sq_odd = [i*i for i  in range(1, 11) if i%2==1]
sq_odd

[1, 9, 25, 49, 81]

In [79]:
a = [i * k for i in range(2, 10)
                for k in range(1, 10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

## map 함수

In [1]:
a = [1.2, 2.5, 3.7, 4.6]
for i in range(len(a)):
    a[i] = int(a[i])
a

[1, 2, 3, 4]

In [ ]:
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int, a))

In [2]:
a

[1, 2, 3, 4]

In [4]:
x = list(map(int, input('여러개의 정수> ').split()))
x

여러개의 정수> 10 20 30 40 50

[10, 20, 30, 40, 50]

In [6]:
hour, minute, second = map(int, input('hh:mm:ss> ').split(':'))
print(f'{hour=}, {minute=}, {second=}')

hh:mm:ss> 11:40:35
hour=11, minute=40, second=35

In [7]:
year, month, day = map(int, input('yy-mm-dd> ').split('-'))
print(f'{year=}, {month=}, {day=}')

yy-mm-dd> 20-10-30
year=20, month=10, day=30

## 튜플

In [8]:
a = (38, 21, 53, 62, 19, 53)
a[3]

62

In [6]:
a.count(21)

1

In [7]:
print(min(a), max(a), sum(a))

19 62 193