# Unit 25. 딕셔너리

In [1]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.setdefault('e')
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': None}

In [2]:
x.setdefault('f', 100)
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': None, 'f': 100}

In [3]:
# 값을 변경 또는 추가
x.update(e=50)
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50, 'f': 100}

In [4]:
x.update(a=900, f=60)
x

{'a': 900, 'b': 20, 'c': 30, 'd': 40, 'e': 50, 'f': 60}

In [5]:
y = {1: 'one', 2: 'two'}
y.update({1: 'ONE', 3: 'THREE'})
y

{1: 'ONE', 2: 'two', 3: 'THREE'}

In [6]:
y.update([[2, 'TWO'], [4, 'FOUR']])
y

{1: 'ONE', 2: 'TWO', 3: 'THREE', 4: 'FOUR'}

In [7]:
y.update(zip([1, 2], ['one', 'two']))
y

{1: 'one', 2: 'two', 3: 'THREE', 4: 'FOUR'}

In [8]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.popitem()
x

{'a': 10, 'b': 20, 'c': 30}

In [9]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.clear()
x

{}

In [13]:
# x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.get('a')

10

### 딕셔너리에서 키-값 쌍을 모두 가져 오기

In [15]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.items()

dict_items([('a', 10), ('b', 20), ('c', 30), ('d', 40)])

In [19]:
for key, value in x.items():
    print(key, value)

a 10
b 20
c 30
d 40

In [20]:
x.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [21]:
x.values()

dict_values([10, 20, 30, 40])

In [22]:
for key in x.keys():
    print(key, value)

a 40
b 40
c 40
d 40

In [23]:
### 리스트와 튜플로 딕셔너리 만들기

In [24]:
keys = ['a', 'b', 'c', 'd']
x = dict.fromkeys(keys)
x

{'a': None, 'b': None, 'c': None, 'd': None}

In [25]:
y = dict.fromkeys(keys, 100)
y

{'a': 100, 'b': 100, 'c': 100, 'd': 100}

In [28]:
### 딕셔너리와 for 반복문

In [29]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
for i in x:
    print(i, end=' ')

a b c d

In [42]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
for key, value in x.items():
    print(key, value)

a 10
b 20
c 30
d 40

In [43]:
for key in x.keys():
    print(key, x.get(key))

a 10
b 20
c 30
d 40

In [44]:
for value in x.values():
    print(value)

10
20
30
40

### 딕셔너리 표현식

In [36]:
keys = ['a', 'b', 'c', 'd']
x = {key: value for key, value in dict.fromkeys(keys, 0).items()}
x

{'a': 0, 'b': 0, 'c': 0, 'd': 0}

In [37]:
{value: key for key, value in {'a': 10, 'b': 20, 'c': 30, 'd': 40}.items()}

{10: 'a', 20: 'b', 30: 'c', 40: 'd'}

In [46]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x = {key: value for key, value in x.items() if value != 20}
x

{'a': 10, 'c': 30, 'd': 40}

In [47]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x = {key: value for key, value in x.items() if value < 25}
x

{'a': 10, 'b': 20}

### Nested Dictionary

In [48]:
terrestrial_planet = {
    'Mercury': {
        'mean_radius': 2439.7,
        'mass': 3.3022E+23,
        'orbital_period': 87.969
    },
    'Venus': {
        'mean_radius': 6051.8,
        'mass': 4.8676E+24,
        'orbital_period': 224.70069,
    },
    'Earth': {
        'mean_radius': 6371.0,
        'mass': 5.97219E+24,
        'orbital_period': 365.25641,
    },
    'Mars': {
        'mean_radius': 3389.5,
        'mass': 6.4185E+23,
        'orbital_period': 686.9600,
    }
}

In [49]:
print(terrestrial_planet['Venus']['mean_radius'])    # 6051.8

6051.8

In [50]:
for outer_key, outer_value in terrestrial_planet.items():
    print(outer_key)
    for inner_key, inner_value in outer_value.items():
        print('\t', inner_key, ':\t', inner_value, sep='')

Mercury
	mean_radius:	2439.7
	mass:	3.3022e+23
	orbital_period:	87.969
Venus
	mean_radius:	6051.8
	mass:	4.8676e+24
	orbital_period:	224.70069
Earth
	mean_radius:	6371.0
	mass:	5.97219e+24
	orbital_period:	365.25641
Mars
	mean_radius:	3389.5
	mass:	6.4185e+23
	orbital_period:	686.96

### 딕셔너리의 할당과 복사

In [51]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
y = x
y['d'] = 99
x

{'a': 10, 'b': 20, 'c': 30, 'd': 99}

In [52]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
y = x.copy()
y['d'] = 99
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [53]:
x = {'a': {'python': '2.7'}, 'b': {'python': '3.6'}}
y = x.copy()
y['a']['python'] = '2.7.15'
x

{'a': {'python': '2.7.15'}, 'b': {'python': '3.6'}}

In [54]:
x = {'a': {'python': '2.7'}, 'b': {'python': '3.6'}}
import copy 
y = copy.deepcopy(x)
y['a']['python'] = '2.7.15'
x

{'a': {'python': '2.7'}, 'b': {'python': '3.6'}}

In [55]:
import copy
x = {'python': {'version': '2.7'}, 'script': {'name': 'hello.py'}}
a = x
b = x.copy()
c = copy.deepcopy(x)
x['python']['version'] = '3.6'
print(a['python']['version'], b['python']['version'], c['python']['version'])

3.6 3.6 2.7