# Unit 26 세트 만들기

In [1]:
fruits = {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}

In [3]:
type(fruits)

set

In [4]:
fruits = {'orange', 'orange', 'cherry'}
fruits

{'cherry', 'orange'}

In [5]:
fruits[0]

TypeError: 'set' object is not subscriptable

In [6]:
'orange' in fruits

True

In [7]:
'peach' in fruits

False

In [9]:
a = set('apple') #유일한 문자만 세트로 만듦
a

{'a', 'e', 'l', 'p'}

In [10]:
b = set(range(5))
b

{0, 1, 2, 3, 4}

In [11]:
h = set('안녕하세요')
h

{'녕', '세', '안', '요', '하'}

### 집합연산

In [12]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
a | b

{1, 2, 3, 4, 5, 6}

In [13]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [14]:
a & b

{3, 4}

In [15]:
a.intersection(b)

{3, 4}

In [16]:
a - b

{1, 2}

In [17]:
a.difference(b)

{1, 2}

In [18]:
a ^ b

{1, 2, 5, 6}

In [19]:
a.symmetric_difference(b)

{1, 2, 5, 6}

In [20]:
a |= {5}
a

{1, 2, 3, 4, 5}

In [21]:
a.update({6})
a

{1, 2, 3, 4, 5, 6}

In [22]:
a = {1, 2, 3, 4}
a &={0, 1, 2, 3, 4}
a

{1, 2, 3, 4}

In [23]:
a.intersection_update({0, 1, 2, 3, 4})
a

{1, 2, 3, 4}

In [26]:
a -= {3}
a

{1, 2, 4}

In [28]:
a = {1, 2, 3, 4}
a.difference_update({3})
a

{1, 2, 4}

In [30]:
a = {1, 2, 3, 4}
a ^= {3, 4, 5, 6}
a

{1, 2, 5, 6}

In [31]:
a = {1, 2, 3, 4}
a <= {1, 2, 3, 4}

True

In [32]:
a.issubset({1, 2, 3, 4, 5})

True

In [33]:
a = {1, 2, 3, 4}
a >= {1, 2, 3, 4}

True

In [34]:
a.issuperset({1, 2, 3, 4})

True

In [35]:
a = {1, 2, 3, 4}
a.isdisjoint({5, 6, 7, 8}) # 겹치는 요소가 없음

True

In [36]:
a.isdisjoint({3, 4, 5, 6})# a와 3, 4가 겹침

False

In [38]:
a = {1, 2, 3, 4} 
a.add(5)
a

{1, 2, 3, 4, 5}

In [39]:
a.remove(3)
a

{1, 2, 4, 5}

In [40]:
a.discard(2)
a

{1, 4, 5}

In [42]:
a.discard(3)
a

{1, 4, 5}

In [43]:
a = {1, 2, 3, 4}
a.pop()

1

In [44]:
a.clear()
a

set()

In [45]:
a = {1, 2, 3, 4}
len(a)

4

In [46]:
a = {1, 2, 3, 4}
b = a

In [47]:
b.add(5)
a

{1, 2, 3, 4, 5}

In [48]:
a = {1, 2, 3, 4}
b = a.copy()
b.add(5)
a

{1, 2, 3, 4}

In [50]:
a = {4, 3, 2, 1}
for i in a:
    print(i)

1
2
3
4

In [51]:
a = {i for i in 'apple'}
a

{'a', 'e', 'l', 'p'}

In [52]:
a = {i for i in 'pineapple' if i not in 'apl'}
a

{'e', 'i', 'n'}

In [63]:
num1, num2 = map(int, input().split())
a = {i for i in range(1, num1 + 1) if num1 % i == 0}
b = {i for i in range(1, num2 + 1) if num2 % i == 0}
divisor = a & b
 
result = 0
if type(divisor) == set:
    result = sum(divisor)
 
print(result)

10 20
18